In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

# Fill in the database you want to work on
working_database = 'world'

# Fill in your mySQL root pass
my_password = '______'

try:
    connection = mysql.connector.connect(host='localhost',
                                         database=working_database,
                                         user='root',
                                         password=my_password)
    if connection.is_connected():
        db_info = connection.get_server_info()
        print('Connected to MySQL Server version ', db_info)
        cursor = connection.cursor()
        cursor.execute('select database();')
        record = cursor.fetchone()
        print('Connected to database: ', record)
        cursor.execute('show tables;')
        print('Tables in {} schema: {}'.format(working_database, cursor.fetchall()))
        
        """Query Running From Here"""
        
        q = "SELECT Code, Name, HeadOfState FROM Country WHERE Continent='North America'"
        cursor.execute(q)
        cursor.fetchall()
        df = pd.read_sql_query(q, connection)
        print('\nResult of query:')
        print('\n', '* ' * 40, '\n')
        print(df)

except Error as e:
    print('Error while connecting to MySQL', e)

finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print('\n', '* ' * 40, '\n')
        print('MySQL connection is closed.')

Connected to MySQL Server version  8.0.23
Connected to database:  ('world',)
Tables in world schema: [('city',), ('country',), ('countrylanguage',)]

Result of query:

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

   Code                              Name                        HeadOfState
0   ABW                             Aruba                            Beatrix
1   AIA                          Anguilla                       Elisabeth II
2   ANT              Netherlands Antilles                            Beatrix
3   ATG               Antigua and Barbuda                       Elisabeth II
4   BHS                           Bahamas                       Elisabeth II
5   BLZ                            Belize                       Elisabeth II
6   BMU                           Bermuda                       Elisabeth II
7   BRB                          Barbados                       Elisabeth II
8   CAN                            Canada                       Elisabeth II
9   CRI                        Costa Rica  Miguel Ángel Rodríguez Echeverría
10  CUB                              Cuba                   Fidel Castro Ruz
11  CYM                    Cayman Islands                       Elisabeth II
12  DMA                          Dominica                        Vernon Shaw
13  DOM                Dominican Republic           Hipólito Mejía Domínguez
14  GLP                        Guadeloupe                     Jacques Chirac
15  GRD                           Grenada                       Elisabeth II
16  GRL                         Greenland                       Margrethe II
17  GTM                         Guatemala           Alfonso Portillo Cabrera
18  HND                          Honduras      Carlos Roberto Flores Facussé
19  HTI                             Haiti             Jean-Bertrand Aristide
20  JAM                           Jamaica                       Elisabeth II
21  KNA             Saint Kitts and Nevis                       Elisabeth II
22  LCA                       Saint Lucia                       Elisabeth II
23  MEX                            Mexico                Vicente Fox Quesada
24  MSR                        Montserrat                       Elisabeth II
25  MTQ                        Martinique                     Jacques Chirac
26  NIC                         Nicaragua              Arnoldo Alemán Lacayo
27  PAN                            Panama     Mireya Elisa Moscoso Rodríguez
28  PRI                       Puerto Rico                     George W. Bush
29  SLV                       El Salvador   Francisco Guillermo Flores Pérez
30  SPM         Saint Pierre and Miquelon                     Jacques Chirac
31  TCA          Turks and Caicos Islands                       Elisabeth II
32  TTO               Trinidad and Tobago              Arthur N. R. Robinson
33  USA                     United States                     George W. Bush
34  VCT  Saint Vincent and the Grenadines                       Elisabeth II
35  VGB           Virgin Islands, British                       Elisabeth II
36  VIR              Virgin Islands, U.S.                     George W. Bush

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

MySQL connection is closed.