In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

# Fill in the database you want to work on
working_database = 'Xgridz'

# Fill in your mySQL root pass
my_password = 'dinh9Thuan'

try:
    connection = mysql.connector.connect(host='localhost',
                                         database=working_database,
                                         user='root',
                                         password=my_password)
    if connection.is_connected():
        db_info = connection.get_server_info()
        print('Connected to MySQL Server version ', db_info)
        cursor = connection.cursor()
        
        cursor.execute('select database();')
        record = cursor.fetchone()
        print('Connected to database: ', record)
        
        cursor.execute('show tables;')
        tables = cursor.fetchall()
        print('Tables in {} schema: {}'.format(working_database, tables))
        
        """INSERT DATA TO XGRIDZ"""
        
        # Insert student data from a csv file into student table
        student = pd.read_csv('student.csv')
        Q = ["INSERT INTO student (name, age)\
              VALUES ('{}', '{}');".format(s[0], s[1]) for s in student.values]
        
        for q in Q:
            cursor.execute(q)
        
        q = "SELECT * FROM student;"
        
        cursor.execute(q)
        cursor.fetchall()
        student_table = pd.read_sql_query(q, connection)
        
         # Insert Grid Test 1 data from a csv file into test1 table
        test1 = pd.read_csv('test1.csv')
        Q = ["INSERT INTO test1 (date, correct, total, weight)\
              VALUES ('{}', '{}', '{}', '{}');".\
              format(t[0], t[1], t[2], t[3]) for t in test1.values]
    
        for q in Q:
            cursor.execute(q)
         
        q = "SELECT * FROM test1;"
        
        cursor.execute(q)
        cursor.fetchall()
        test1_table = pd.read_sql_query(q, connection)
        
         # Insert Grid Test 2 data from a csv file into test2 table
        test2 = pd.read_csv('test2.csv')
        Q = ["INSERT INTO test2 (date, correct, total, weight)\
              VALUES ('{}', '{}', '{}', '{}');".\
              format(t[0], t[1], t[2], t[3]) for t in test2.values]
        
        for q in Q:
            cursor.execute(q)
         
        q = "SELECT * FROM test2;"
        
        cursor.execute(q)
        cursor.fetchall()
        test2_table = pd.read_sql_query(q, connection)
        
        
        # Join 3 tables into one

        q = "SELECT test_date, student_ID, name, age,\
            ((correct_1 * weight_1 + correct_2 * weight_2) / (total_1 + total_2)) AS score\
             FROM (SELECT test1.date AS test_date, s.ID AS student_ID, s.name, s.age,\
                          test1.correct AS correct_1, test1.total AS total_1, test1.weight AS weight_1,\
                          test2.correct AS correct_2, test2.total AS total_2, test2.weight AS weight_2 \
                   FROM student AS s\
                               INNER JOIN test1 ON s.ID = test1.student_ID \
                               INNER JOIN test2 ON s.ID = test2.student_ID) sub \
             HAVING score < 0.6;"
        
        cursor.execute(q)
        cursor.fetchall()
        result_table = pd.read_sql_query(q, connection)
        
except Error as e:
    print('Error while connecting to MySQL', e)

finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print('\n', '* ' * 40, '\n')
        print('MySQL connection is closed.')

Connected to MySQL Server version  8.0.23
Connected to database:  ('xgridz',)
Tables in Xgridz schema: [('student',), ('test1',), ('test2',)]

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

MySQL connection is closed.

In [2]:
student_table

     ID               name  age
0   100     Koen Frederick  8-9
1   101       Brent Hinton  4-5
2   102   Mitchell Wheeler  4-5
3   103      Pierce Mullen  6-7
4   104         Tara Chase  8-9
5   105        Melany Clay  6-7
6   106      Gavyn Nielsen  4-5
7   107          Anya Ryan  8-9
8   108        Kadin Carey  6-7
9   109      Lyla Alvarado  4-5
10  110     Cara Castaneda  4-5
11  111        Cole Osborn  6-7
12  112        Jane Vaughn  4-5
13  113     Mariam Parsons  6-7
14  114     Patrick Torres  6-7
15  115   Taliyah Humphrey  6-7
16  116     Rodney Fischer  4-5
17  117      Sean Matthews  4-5
18  118      Sadie Meadows  6-7
19  119       Karly Ritter  4-5
20  120      Holden Benton  6-7
21  121        Isai Wilson  8-9
22  122     Mckenna Rogers  8-9
23  123     Nelson Lindsey  4-5
24  124      Emery Estrada  4-5
25  125         Tia Joseph  4-5
26  126        Alia Gibson  8-9
27  127   Abdullah Santana  6-7
28  128      Brycen Hodges  4-5
29  129      Albert Pruitt  8-9
30  130     Freddy Hubbard  6-7
31  131       Amanda Floyd  6-7
32  132        Lilly Ellis  4-5
33  133        Grady White  4-5
34  134  Deangelo Gonzales  4-5
35  135      Levi Browning  4-5
36  136       Marin Oliver  6-7
37  137      Jesus Shannon  6-7
38  138          Kaya Gray  8-9
39  139     Rodolfo Dodson  6-7

In [3]:
test1_table

    student_ID          date  correct  total  weight
0          100   May 29 2020        4      5       1
1          101   May 30 2020        1      5       1
2          102  Aug. 27 2020        4      5       1
3          103  Aug. 11 2020        1      5       1
4          104  Apr. 21 2020        2      5       1
5          105   Oct. 5 2020        3      5       1
6          106   Oct. 2 2020        0      5       1
7          107   Apr. 3 2020        1      5       1
8          108   Nov. 7 2020        1      5       1
9          109  Aug. 29 2020        1      5       1
10         110  Jan. 22 2021        2      5       1
11         111   Jun. 9 2020        5      5       1
12         112  Jul. 11 2020        3      5       1
13         113  Mar. 17 2020        0      5       1
14         114  Sep. 16 2020        5      5       1
15         115   May 26 2020        1      5       1
16         116  Jan. 30 2021        4      5       1
17         117  Jun. 15 2020        2      5       1
18         118  Dec. 13 2020        0      5       1
19         119  Apr. 19 2020        5      5       1
20         120  Jul. 25 2020        3      5       1
21         121  Nov. 11 2020        0      5       1
22         122  Dec. 26 2020        1      5       1
23         123    May 3 2020        5      5       1
24         124  Jan. 27 2021        5      5       1
25         125   Jul. 5 2020        3      5       1
26         126  Jan. 15 2021        4      5       1
27         127   Sep. 7 2020        2      5       1
28         128  Nov. 30 2020        0      5       1
29         129   Jun. 2 2020        3      5       1
30         130   May 12 2020        1      5       1
31         131  Oct. 18 2020        0      5       1
32         132  Feb. 23 2021        1      5       1
33         133   May 13 2020        3      5       1
34         134   May 11 2020        3      3       1
35         135  Jul. 30 2020        4      5       1
36         136   May 21 2020        2      5       1
37         137   Mar. 7 2021        2      5       1
38         138  Dec. 14 2020        4      5       1
39         139   May 10 2020        2      5       1

In [4]:
test2_table

    student_ID          date  correct  total  weight
0          100   May 29 2020        6     12       1
1          101   May 30 2020        7     12       1
2          102  Aug. 27 2020        4     12       1
3          103  Aug. 11 2020        6     12       1
4          104  Apr. 21 2020        4     12       1
5          105   Oct. 5 2020        6     12       1
6          106   Oct. 2 2020       10     12       1
7          107   Apr. 3 2020        3     12       1
8          108   Nov. 7 2020       11     12       1
9          109  Aug. 29 2020        1     12       1
10         110  Jan. 22 2021        4     12       1
11         111   Jun. 9 2020        8     12       1
12         112  Jul. 11 2020       10     12       1
13         113  Mar. 17 2020        6     12       1
14         114  Sep. 16 2020        2     12       1
15         115   May 26 2020       12     12       1
16         116  Jan. 30 2021       10     12       1
17         117  Jun. 15 2020        7     12       1
18         118  Dec. 13 2020        4     12       1
19         119  Apr. 19 2020       11     12       1
20         120  Jul. 25 2020        6     12       1
21         121  Nov. 11 2020        9     12       1
22         122  Dec. 26 2020        0     12       1
23         123    May 3 2020       10     12       1
24         124  Jan. 27 2021       12     12       1
25         125   Jul. 5 2020        8     12       1
26         126  Jan. 15 2021       11     12       1
27         127   Sep. 7 2020        2     12       1
28         128  Nov. 30 2020        1     12       1
29         129   Jun. 2 2020       12     12       1
30         130   May 12 2020        1     12       1
31         131  Oct. 18 2020        1     12       1
32         132  Feb. 23 2021        5     12       1
33         133   May 13 2020        9     12       1
34         134   May 11 2020        7     12       1
35         135  Jul. 30 2020        4     12       1
36         136   May 21 2020        9     12       1
37         137   Mar. 7 2021        3     12       1
38         138  Dec. 14 2020        1     12       1
39         139   May 10 2020        9     12       1

In [5]:
result_table

       test_date  student_ID              name  age   score
0    May 29 2020         100    Koen Frederick  8-9  0.5882
1    May 30 2020         101      Brent Hinton  4-5  0.4706
2   Aug. 27 2020         102  Mitchell Wheeler  4-5  0.4706
3   Aug. 11 2020         103     Pierce Mullen  6-7  0.4118
4   Apr. 21 2020         104        Tara Chase  8-9  0.3529
5    Oct. 5 2020         105       Melany Clay  6-7  0.5294
6    Oct. 2 2020         106     Gavyn Nielsen  4-5  0.5882
7    Apr. 3 2020         107         Anya Ryan  8-9  0.2353
8   Aug. 29 2020         109     Lyla Alvarado  4-5  0.1176
9   Jan. 22 2021         110    Cara Castaneda  4-5  0.3529
10  Mar. 17 2020         113    Mariam Parsons  6-7  0.3529
11  Sep. 16 2020         114    Patrick Torres  6-7  0.4118
12  Jun. 15 2020         117     Sean Matthews  4-5  0.5294
13  Dec. 13 2020         118     Sadie Meadows  6-7  0.2353
14  Jul. 25 2020         120     Holden Benton  6-7  0.5294
15  Nov. 11 2020         121       Isai Wilson  8-9  0.5294
16  Dec. 26 2020         122    Mckenna Rogers  8-9  0.0588
17   Sep. 7 2020         127  Abdullah Santana  6-7  0.2353
18  Nov. 30 2020         128     Brycen Hodges  4-5  0.0588
19   May 12 2020         130    Freddy Hubbard  6-7  0.1176
20  Oct. 18 2020         131      Amanda Floyd  6-7  0.0588
21  Feb. 23 2021         132       Lilly Ellis  4-5  0.3529
22  Jul. 30 2020         135     Levi Browning  4-5  0.4706
23   Mar. 7 2021         137     Jesus Shannon  6-7  0.2941
24  Dec. 14 2020         138         Kaya Gray  8-9  0.2941